<h1>TOP</h1>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  <h3>募集中の旅</h3>
    <% @posts.each do |post| %>
      <% if post.active=="true" %>
        <tr>
          <td><%= link_to post.title,post %> |<%= post.category %></td>
          <% if user_signed_in? %>
            <% if current_user.role=="admin" %>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  <h3>募集終了した旅</h3>
    <% @posts.each do |post| %>
      <% if post.active=="false" %>
        <tr>
          <td><%= link_to post.title,post %> |<%= post.category %></td>
          <% if user_signed_in? %>
            <% if current_user.role=="admin" %>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table>
  <tbody>
  <h3>活躍中の旅人</h3>
  <tr>
    <% @users.each do |user| %>
    <li><%= link_to user.email,user_path(user.id) %></li>
    <% end %>
  </tr>
  </tbody>
</table>


<br>