<strong>募集状況:</strong>
	<% if @post.active=="true" %>
		<p>募集中</p>
	<% else %>
		<p>募集終了</p>
	<% end %>	

<p>
	<strong>タイトル:</strong>
	<%= @post.title %>
</p>

<p>
	<strong>国:</strong>
	<%= @post.country %>
</p>

	<strong>コンテンツ:</strong>
	<%== @post.content %>

<p>
	<strong>この記事のライター:</strong>
	<%= @post.name %>
</p>

<%= link_to '問い合わせ', inquiry_path %>
<% if user_signed_in? %>
	<% if current_user.role=="admin" %>
		<br>
		<%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Back', posts_path %>
		</br>
	<% end %>
<% end %>